{% extends 'base.html.twig' %}

{% block title %}Edit Quack{% endblock %}

{% block body %}
    <h1>Edit Quack</h1>

    {{ include('quack_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quack_comment_index') }}">back to list</a>

    {{ include('quack_comment/_delete_form.html.twig') }}
{% endblock %}
