html {
    font-family: 'Roboto', sans-serif;

}

body {
    display: inline-block;
    background-color: #FFF;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;


}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5%;
    background-color: #07449D;
    margin-top: 0;
    padding: 2%;

}


img {
display: inline-block;
   margin: 2% 15% 0 3% ;
}
.quack-author {
    align-items: center;
}
.datetime, .quack-author, .quack-message, h4 {
  display: inline-block;
    text-align: center;
    margin: 3%;
}
 button, a{
    color: white;
     font-family: 'Inconsolata', sans-serif;
     background-color: #0d5aa7;
}
.quack-author, .datetime {

}
.comments, .post {
    display: block;
    border: 2px solid #1F61A0;
    border-radius: 25px;
    margin-left: 20%;
    width: 50%;
    margin-bottom: 3%;
}
button {

    display: inline-block;
margin: 25px;



}

tr {
    font-size: 25px;
    width: 50%;


}

.list-group-item {
    background-color: #1F61A0;
}

.quack-post {
    display: flex;
    align-items: center;
}

td {
    text-align: center;
}
